{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask a question</title>
</head>
<body>
{% block content %}
  <form method="POST">
    <label for="subject">Subject:</label><br>
    <input type="text" id="subject" name="subject"><br>

    <label for="text">Text:</label><br>
    <input type="text" id="text" name="text" style="width: 200px; height: 200px"><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email">
    <p>
    <input type="submit">
{% endblock %}
</form>
</body>
</html>