<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/html;charset=UTF-8">
    {% block css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}

    {% block title %}
    <title>Main</title>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center text-info">
            <h1>ZOZH for everybody!</h1>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 px-5">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-between w-100">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-info"  href="/categories">Our courses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">{% if user %}Log out{% else %}Log in / register{% endif %}</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
        <div class="row justify-content-left w-100 pl-3">
            {{ request_type }}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>